.container-header {
    background-color: rgba(54, 54, 54, 0.527);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    padding-left: 20px;
}

.container-header h1 {
    font-family: inherit;
    color: white;
    margin: 0;
}

.container-search{
    display: block;
    justify-items: center;
    padding: 10px;
}

.search {
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    font-family: inherit;
    font-size: 13px;
    color: white;
    padding: 5px 15px;
    width: 500px;
}

.search:focus {
    outline: none;
}

.searching{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searching select{
    background-color: transparent;
    border: 2px solid whitesmoke;
    background: grey;
    border-radius: 50px;
    font-family: inherit;
    font-size: 13px;
    height: 34px;
    padding: 5px 15px;
}

.searching select:focus{
    outline: none;
}